In [3]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [4]:
tips = sns.load_dataset('tips')

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
lr = linear_model.LinearRegression()

In [11]:
lr.fit(X=tips[['total_bill', 'size']], y=tips['tip'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
lr.coef_

array([0.09271334, 0.19259779])

In [9]:
lr.intercept_

0.6689447408125027

In [12]:
# dummy encoding
# one-hot encoding

In [16]:
tips_dummy = pd.get_dummies(tips, drop_first=True)
tips_dummy.head()

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1

In [19]:
lr = linear_model.LinearRegression()
lr.fit(X=tips_dummy.iloc[:, 2:], y=tips_dummy['tip'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
lr.coef_

array([ 0.71001644, -0.10057881, -0.20916402, -0.20180568, -0.36603136,
       -0.29452609,  0.48575489])